body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #434344;
}
.container {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  background: #cfd0cf;
  padding: 0 40px;
}
.title {
  margin: 0;
  padding: 40px;
  font-size: 42px;
  line-height: 47px;
}
.desk {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 600px;
}
.card {
  margin-bottom: 25px;
  margin-right: 25px;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 9px;
  background-image: linear-gradient(45deg, #19668d, #22ab93);
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
  border-radius: 9px;
  transition: transform 1s ease;
  height: 130px;
  width: 130px;
}
.card:nth-of-type(4n) {
  margin-bottom: 0;
  margin-right: 0;
}
.card.active {
  transform: rotateY(180deg);
}
.card:hover {
  cursor: pointer;
  border-color: lightblue;
}
.top {
  background-color: transparent;
  transition: background-color 0.01s ease 0.3s;
  height: 130px;
  position: relative;
  width: 130px;
  top: -5px;
  left: -5px;
  border-radius: 9px;
}
.top::after {
  opacity: 0;
  content: '🐱';
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: opacity 0.01s ease 0.3s;
}
.top.active {
  background-color: #fff;
}
.top.active::after {
  opacity: 1;
}