html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-width: 200px;
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: #434344;
}
.container {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  background: #cfd0cf;
  padding: 0 40px 20px;
}
.title {
  margin: 0;
  padding: 40px;
  font-size: 42px;
  line-height: 47px;
}
.board {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  perspective: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.card_container {
  height: 130px;
  width: 130px;
  margin-bottom: 25px;
  margin-right: 25px;  
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s;
}
.card_container:nth-of-type(4n) {
  margin-bottom: 0;
  margin-right: 0;
}
.card_container:hover {
  cursor: pointer;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  height: 130px;
  width: 130px;
  backface-visibility: hidden;
  box-sizing: border-box;
  border: 5px solid #fff;
  border-radius: 9px;  
  box-shadow: 1px 1px 5px rgba(0,0,0,.5);
}
.card.front {
  background-image: linear-gradient(45deg, #19668d, #22ab93);
}
.card.back {
  background-color: #fff;
  transform: rotateY(180deg);
  transition: all 1s;
}
.back::after {
  content: attr(data-icon);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 65px;
  height: 75px;
  line-height: 75px;
  transform: translate(-50%,-50%);
}
.card_container.active {
  cursor: pointer;
  transform: rotateY(180deg);
}
.back.equal {
  background-color: #5ad66f;
  border-color: #5ad66f;
}
.back.unequal {
  background-color: #f44336;
  border-color: #f44336;
}
.timer {
  font-family: Arial;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}
.popup {
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup.active {
  display: block;
}
.popup-content {
  position: absolute;
  min-width: 350px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 30px;
}
.popup-message {
  font-size: 48px;
  margin: 20px 0;
  font-weight: bold;
}
.popup-message span {
  display: inline-block;
  animation: animate .7s infinite;
}
.message-win:first-child {
  animation-delay: .1s;
}
.message-win:nth-child(2) {
  animation-delay: .2s;
}
.message-win:last-child {
  animation-delay: .3s;
}
.message-lose:first-child {
  animation-delay: .1s;
}
.message-lose:nth-child(2) {
  animation-delay: .2s;
}
.message-lose:nth-child(3) {
  animation-delay: .3s;
}
.message-lose:last-child {
  animation-delay: .4s;
}
@keyframes animate {
  0% {
    transform: translateY(0px) scaleY(1);
  }
  50% {
    transform: translateY(-20px) scaleY(1.5);
  }
  100% {
    transform: translateY(0px) scaleY(1);
  }
}
.popup-btn {
  color: #fff;
  font-size: 20px;
  padding: 0 30px;
  margin-bottom: 30px;
  line-height: 20px;
  height: 40px;
  background-image: linear-gradient(45deg, #19668d, #22ab93);
  border: none;
  border-radius: 9px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.popup-btn:hover {
  cursor: pointer;
  box-shadow: inset 2px 1px 8px rgba(0,0,0,.5);
